{% extends "src/index.html" %}
{% block content %}


	<style type="text/css">
		.container {
		  height: 100px;
		  position: relative;
		}

		.center {
		  margin: 0;
		  position: absolute;
		  top: 25%;
		  left: 50%;

		}

		h1, h2, h3, h4, h5, h6 {
			color: black;
			text-align: center;
		}
		.form-control{
			color: black;
		}
	</style>



	<div>
		<h1> Delete Student Behavioural Assessment </h1>
		<h4> Please Select Session, Term, and Class you wish to delete </h4>
	</div>
	<div class="main">
		<form name="form1" method="POST">
			{% csrf_token %}
		 	 <div class="row" style="padding-right: 10px;">
			    <div class="col">
					<select class="form-control" name="session">
						<option>Session</option>
						{% for i in sessions %}
						<option>{{i.session_name}}</option>
						{% endfor %}
					</select>
			    </div>
			    <div class="col">
					<select class="form-control" name="term">
						<option>Term</option>
						{% for i in terms %}
						<option>{{i.term_name}}</option>
						{% endfor %}
					</select>
			    </div>
			    <div class="col">
			        <select class="form-control" name="class">
			        	<option>Class</option>
				        {% for i in classes %}
				        	<option>{{ i.class_name }}</option>
					    {% endfor %}
				    </select>
			    </div>
			    <button name="form1" type="submit" class="btn btn-primary">DELETE</button>
			</div>
		</form>
	</div>



{% if messages %}
  {% for msg in messages %}
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{msg.message}}
    </div>
  {% endfor %}
{% endif %}

{% endblock content %}

