{% extends "src/index.html" %}
{% load static %}
{% block content %}

<!--------------selection form------------------>
    <div>
        <h4 style="text-align: center;">Select class to download  Excel Score Sheet template</h4>
    </div>
    <div class="main">
        <form name="form1" method="POST">
            {% csrf_token %}
             <div class="row" style="padding-right: 10px;">
                <div class="col">
                    <select class="form-control" name="class">
                        <option>Class</option>
                        {% for i in classes %}
                            <option>{{ i.class_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button name="form1" type="submit" class="btn btn-primary">GET</button>
            </div>
        </form>
    </div>

{% endblock content %}