{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'src/login/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'src/login/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'src/login/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'src/login/css/style.css' %}">

    <title>Ryno B Pro</title>
  </head>
  <body>
  
{% if messages %}
  {% for msg in messages %}
    <div class="alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{msg.message}}
    </div>
  {% endfor %}
{% endif %}
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="{% static 'src/login/images/logo-m.png' %}" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Welcome To</h3>
              <p class="mb-4">Greenfield Modern Academy Zaria Online</p>
            </div>
            <form name="form1"  method="POST">
              {% csrf_token %}
              <div class="form-group first">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username">


              </div>
              <div class="form-group last mb-4">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password">
                
              </div>
              
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
                <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span> 
              </div>

              <input name="form1" type="submit" value="Log In" class="btn btn-block btn-primary" style="background-color: #c79c75; border-color: #c79c75;">

              <a href="{% url 'single_result_view' %}"><span class="d-block text-left my-4 text-muted">&mdash; or click here to check result &mdash;</span></a>
              
              <div class="social-login">
                <a href="#" class="facebook">
                  <span class="icon-facebook mr-3"></span> 
                </a>
                <a href="#" class="twitter">
                  <span class="icon-twitter mr-3"></span> 
                </a>
                <a href="#" class="google">
                  <span class="icon-google mr-3"></span> 
                </a>
              </div>
            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  <footer style="text-align: center; padding: 3px; background-color: #c79c75; color: white;">
    <p style="color: black;">Designed By: Musaddiq Technologies<br>
    <a href="mailto:ismailabbas355@gmail.com">+2347060936935</a></p>
  </footer>
    <script src="{% static 'src/login/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'src/login/js/popper.min.js' %}"></script>
    <script src="{% static 'src/login/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'src/login/js/main.js' %}"></script>
    <script>
        $(document).ready(function(){
    window.setTimeout(function() {
      $(".alert").fadeTo(100, 0).slideUp(100, function(){
          $(this).remove();
      });
    }, 5000);
    });
    </script>
  </body>
</html>